.card-design {
  height: auto;
  min-height: 15em;
  width: auto;
  min-width: 15em;
  padding: 2em 2em;

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;

  border-radius: 1em;

  background-color: #a795a5;
}

.card-sendEmail {
  height: auto;
  min-height: 2em;
  width: auto;
  min-width: 2em;
  padding: 1em 1em;

  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: rgb(38, 84, 124);
}

.hidden {
  display: none;
}

@media (max-width: 768px) {
  .card-design {
    width: 80%;
  }
}

/* @media (max-width: 480px) {
  .card-design {
    width: 85%;
    padding: 1em;
  }
} */
