.card-design {
  height: auto;
  min-height: 15em;
  width: auto;
  min-width: 80vw;
  padding: 2em 2em;

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;

  border-radius: 1em;
  border: .1em solid black;

  background-color: #fca5f2d0;
  /* background: url(../../assets/wallpaperCardSendEmail.png) fixed center center no-repeat; */
}

.card-sendEmail {
  height: auto;
  width: auto;

  padding: 0em 0em;

  background-color: #7a959e00;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  position: absolute;
}

.hidden {
  display: none;
  transition: 1s;
}

.xIcon {
  margin-left: 20em;

  color: darkgrey;
}
