.button-design{
    height: auto;
    width: 12.5em;

    padding: .7em;
    margin: .25em;

    border: .1em solid grey;
    border-radius: 1em;

    background-color: #424e5e;

    box-shadow: .2em .2em .6em 0em #817480;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.1em;
    font-weight: 600;

    cursor: pointer;
    &:hover{
        background-color: #4c5664;

        box-shadow: .2em .2em .8em 0em #dbc4d8;

        border: .1em solid grey;
        border-radius: 1em;
    }
    &:active{
        background-color: #647a81;
        
        box-shadow: .1em .1em 1em 0em #f5ddf2;
        
        transform: translateY(.2em);

        border: .1em solid grey;
        border-radius: 1em;
    }
}