.input-design {
    height: 2em;
    width: 25em;

    margin: .5em;

    background-color: rgba(150, 150, 150, 0);

    border-radius: .5em;
    border: 0em solid black;
    border-bottom: .1em solid black;
    color:black;
    &:focus{
        outline: none;
    }
    &::placeholder{
        color: black;
    }
}

.input-textarea{
    height: 5em;
}

.input-date{
    color:black;
    color:black;
}